<!DOCTYPE html>
<html>
    <head><title>Home</title></head>
    <body>
        <center>
            Welcome to login Page , please enter your username and password
            <form method="POST">
                <br><br>
                Username: <input type="text" placeholder="Username" name="username"><br><br>
                Password: <input type="password" placeholder="password" name="password"><br><br>
                <input type="submit" value="login">
            </form>
        </center>
        <h1>Welcome,{{result_message}}</h1>
    </body>
</html>